.create-job-page{
    background-color: rgb(255, 255, 255);
    padding-left: 160px;
    /* left: 24px; */
    /* position: relative; */
    padding-top: 20px;
    margin-bottom: 27px;
    margin-top: 25px;
    bottom: 80px;
    border-radius: 22px;
}
.mainContainer{
    background-color: #216ba5e6;
    display: flex;
    justify-content: center;
}
h4.heading2 {
    font-family: sans-serif;
    font-size: 25px;
}
.enterjobtitle label input {
    width: 367px;
    border-radius: 5px;
    padding-left: 10px;
    height: 33px;
    top: -22px;
    position: relative;
    border-style: solid;
    border-color: #e7e7e7;
    background-color: #ffffff00;
}
.jobdescription label input {
    width: 780px;
    border-radius: 5px;
    padding-left: 5px;
    height: 87px;
    top: -22px;
    position: relative;
    border-style: solid;
    border-color: #e7e7e7;
    background-color: #ffffff00;}
   

.dropdown select{
    width: 382px;
    height: 34px;
    border-radius: 4px;
    /* top: -12px; */
    padding-left: 3px;
    border-style: solid;
    border-color: #ccc;
    background-color: #ffffff00;
    

}
h4.heading3{
    font-size: 25px;
    font-family: sans-serif;
}
h4.heading4{
    font-size: 25px;
    position: relative;
    font-family: sans-serif;
    top: 13px;
}
form {
    /* display: inline; */
    right: 85px;
    position: relative;
    display: grid;
  column-gap: 50px;
}

.responsibilities {
   
   
    width: 382px;
 
}

h4.heading5 {
    font-size: 25px;
    position: relative;
    top: 15px;
    /* left: 313px; */
    font-family: sans-serif;
}
    


h4.heading6 {
            font-size: 25px;
            top: 13px;
          position: relative;
            font-family: sans-serif;
}
.education {
    top: -22px;
    position: relative;
    width: 382px;
}
h4.heading7 {
    font-size: 25px;
    position: relative;
    top: 13px;

    font-family: sans-serif;

}
.employmentcategory{
    top: -22px;
    position: relative;
    width: 382px;
}
h4.heading8{
    font-size: 25px;
    top: 13px;
    position: relative;
 
    font-family: sans-serif;
}
h4.heading9 {
    font-size: 25px;
   position: relative;
    top: 13px;
  
    font-family: sans-serif;
}
.softskills{
    top: -22px;
    position: relative;
    width: 382px;

}
.technicalskills{
    top: -22px;
    position: relative;
    width: 382px;
}
h4.heading10 {
    font-size: 25px;
    top: 13px;
   position: relative;
    font-family: sans-serif;
}
.perksandbenifits{

    width: 382px;
}
h4.heading11 {
    font-size: 25px;
position: relative;
    top: 13px;

    font-family: sans-serif;
}
.Location select {
    
    top: -22px; 
    width: 382px;
    height: 34px;
    border-style: solid;
    border-color: #0000002b;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 4px;
  
}
h4.heading12{
    font-size: 25px;
    top: 13px;
    position: relative;
   
    font-family: sans-serif;
}
.experience select {
 
       /* top: -22px; */
    /* right: -308px; */
    /* left: -43px; */
    width: 382px;
    height: 34px;
    border-style: solid;
    border-color: #0000002b;
    background-color: transparent;
    /* position: relative; */
    border-radius: 5px;
    padding-left: 4px;
}
h4.heading13{
    font-size: 25px;
    top: 13px;
    position: relative;
  
    font-family: sans-serif;
}
.vacancies label input{
 
      /* top: -22px; */
    /* right: -308px; */
    /* right: 136px; */
    width: 382px;
    height: 31px;
    border-style: solid;
    border-color: #0000002b;
    background-color: transparent;
    border-radius: 5px;
    /* position: relative; */
    padding-left: 4px;
}
h4.heading14{
    font-size: 25px;
    top: 13px;
 position: relative;
 
    font-family: sans-serif;
}
.gender select{

    top: -22px;
    /* right: -308px; */
   
    /* left: 175px; */
    width: 382px;
    height: 31px;
    border-style: solid;
    border-color: #0000002b;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 4px;
}
h4.heading15 { 
    font-size: 25px;
    top: 13px;
 position: relative;
    font-family: sans-serif;
}
.requirestravelling select{
    /* top: -22px; */
    /* right: -308px; */
    /* position: relative; */
    /* left: -21px; */
    width: 382px;
    height: 34px;
    border-style: solid;
    border-color: #0000002b;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 4px;
}
h4.heading16{
    font-size: 25px;
    top: 13px;
    position: relative;
    
    font-family: sans-serif;
}
.closingdate input {

    
    /* right: -308px; */
    /* right: 136px; */
      /* left: 175px; */
      width: 236px;
      height: 31px;
      border-style: solid;
      border-color: #0000002b;
      background-color: transparent;
      border-radius: 5px;}
.form2{
position: relative;

 top: -102px;
}
.experience .opt{
    color: #000;

}
.div {
    display: flex;
    grid-gap: 10px 40px;
}
.div2 {
    display: flex;
    grid-gap: 10px 40px;
    top: -89px;
    position: relative;
}
.div3{
    display: flex;
    grid-gap: 10px 40px;
    top: -78px;
    position: relative;
}
.div4{
    display: flex;
    grid-gap: 10px 40px;
    top: -104px;
    position: relative;
}
.div5{
    display: flex;
    grid-gap: 10px 40px;
    top: -152px;
    position: relative;
}
.div6{
     display: flex;
    grid-gap: 10px 40px;
    top: -132px;
    position: relative;
}
.div7{
    display: flex;
   grid-gap: 10px 40px;
   top: -132px;
   position: relative;
}
.jobdescription {
    position: relative;
    top: -37px;
}
.closingdate{
   
   grid-gap: 10px 40px;
   top: -137px;
   position: relative;
}
h1.heading {
      text-align: center;
    position: relative;
    /* left: 10px; */
    right: 61px;
    text-decoration: underline;
}
button.button {
    background: #216ba5;
    width: 408px;
    top: -281px;
    color: white;
    height: 42px;
    position: relative;
    left: 411px;
    font-size: 17px;
    border: none;
    border-radius: 19px;
    box-shadow: none;}
    
    button.button a{
        text-decoration: none;
        color: white;
    }