.create-job-page{
    padding: 10;
    border: 5px solid black;
    padding: 50px 50px;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    width:50vw;

}
.mainContainer{
    display: flex;
    justify-content: center;
}